<form class="{{cssClass}} flexcol" autocomplete="off">

	{{!-- Core Character Info --}}
	<section class="actor-info flexcol">
		<section class="flexrow">
			<img class="profile" src="{{data.img}}" title="{{data.name}}" data-edit="img" width="179" height="179" />

			<section>
				<h1 class="title">
					<input name="name" type="text" value="{{actor.name}}" placeholder="Character Name" />

					{{#if isGM}}
					{{#unless isUnlocked}}
					<a class="button lock" data-tooltip="Unlock Limitations" data-action="unlockLimits">
						<i class="fas fa-lock-open"></i>
					</a>
					{{else}}
					<a class="button lock" data-tooltip="Lock Limitations" data-action="unlockLimits">
						<i class="fas fa-lock"></i>
					</a>
					{{/unless}}
					{{/if}}
				</h1>

				<div class="form-group form-group-stacked">
					<label>{{localize "CHARACTER.Concept"}}</label>

					<input name="system.concept" type="text" value="{{actor.system.concept}}" />
				</div>

				<div class="form-group form-group-stacked focus">
					<span>
						<label>{{localize "CHARACTER.Focus"}}</label>
						<span>({{focus.intensity}})</span>
					</span>


					<input name="system.focus.name" type="text" value="{{focus.name}}" />
				</div>

				<div class="form-group homeworld">
					<div class="form-group form-group-stacked">
						<label>{{localize "CHARACTER.Homeworld"}}</label>

						<input name="system.homeworld" type="text" value="{{actor.system.homeworld}}" />
					</div>

					<div class="form-group form-group-stacked">
						<label>{{localize "CHARACTER.TechLevel"}}</label>

						<input name="system.techLevel" type="number" value="{{actor.system.techLevel}}" step="1" min="1" max="12" />
					</div>
				</div>
			</section>

			{{!-- Story Points --}}
			<div class="story-points flexcol">
				<h2 class="section-header flex-center">{{localize "DOCTORWHO.StoryPoints"}}</h2>

				<div class="flexrow story-points-counter stat">
					<a class="stat-control {{#unless storyPoints.canDecrease}}inactive{{/unless}}" data-action="storyPointsDecrease">
						<i class="fas fa-caret-left"></i>
					</a>
					<span class="stat-counter {{#if storyPoints.overLimit}}over-limit{{/if}}" data-tooltip="Reset to {{storyPoints.base}} next session">
						{{storyPoints.current}}
					</span>
					<a class="stat-control" data-action="storyPointsIncrease">
						<i class="fas fa-caret-right"></i>
					</a>
				</div>

				<div class="story-points-base" data-tooltip="12 - Num Distinctions x 2">
					Base:
					{{storyPoints.base}}
					/ 12
				</div>
			</div>
		</section>

		{{!-- Goals --}}
		<section>
			<div class="form-group form-group-stacked">
				<label>{{localize "CHARACTER.ShortGoal"}}</label>

				<input name="system.goals.short" type="text" value="{{actor.system.goals.short}}" />
			</div>

			<div class="form-group form-group-stacked">
				<label>{{localize "CHARACTER.LongGoal"}}</label>

				<input name="system.goals.long" type="text" value="{{actor.system.goals.long}}" />
			</div>
		</section>
	</section>

	{{!-- Main Body --}}
	<div class="sheet-body flexrow">

		{{!-- Left Column --}}
		<section class="column column-left flexcol">

			{{!-- Attributes --}}
			<div class="stat-section attributes-section" data-type="attributes">
				<div class="section-header flex-center">
					<h2>{{localize "CHARACTER.Attributes"}}</h2>

					{{#unless isUnlocked}}
					<div class="float-right">
						<span class="stat-counter" data-tooltip="Available Points: {{attributes.availablePoints}}<hr/>Transferred Points: {{attributes.transferredPoints}}">{{attributes.availablePoints}}</span>
						{{#if attributes.hasPoints}}
						<a class="counter-transfer" data-tooltip="Send to Skill Points" data-action="transferAttrPoints">
							<i class="fas fa-arrow-down"></i>
						</a>
						{{/if}}
					</div>
					{{/unless}}
				</div>

				<ol class="stats flexcol">
					{{#each attributes.values as |attribute|}}
					<li class="stat attribute {{attribute.id}} flexrow" data-attribute="{{attribute.id}}">
						<label class="{{#if attribute.down}}down{{/if}}">{{attribute.label}}</label>
						<div class="stat-controls flexcol">
							<a class="stat-control {{#unless attribute.canIncreaseBase}}inactive{{/unless}}" title="Attribute Increase" data-action="attributeIncreaseBase">
								<i class="fas fa-caret-up"></i>
							</a>
							<a class="stat-control {{#unless attribute.canDecreaseBase}}inactive{{/unless}}" title="Attribute Decrease" data-action="attributeDecreaseBase">
								<i class="fas fa-caret-down"></i>
							</a>
						</div>
						<span class="stat-counter" data-tooltip="Base {{attribute.label}}">{{attribute.base}}</span>

						<div class="stat-controls flexcol">
							<a class="stat-control {{#unless attribute.canIncreaseCur}}inactive{{/unless}}" title="Increase Current" data-action="attributeIncreaseCur">
								<i class="fas fa-caret-up"></i>
							</a>
							<a class="stat-control {{#unless attribute.canDecreaseCur}}inactive{{/unless}}" title="Decrease Current" data-action="attributeDecreaseCur">
								<i class="fas fa-caret-down"></i>
							</a>
						</div>
						<span class="attribute-health" data-tooltip="Current {{attribute.label}}: {{attribute.current}}">
							{{#each attribute.pips}}
							<span class="pip {{this}} {{#if attribute.down}}down{{/if}}">{{#if attribute.down}}X{{/if}}</span>
							{{/each}}
						</span>
					</li>
					{{/each}}
				</ol>
			</div>

			{{!-- Skills --}}
			<div class="stat-section skills-section" data-type="skills">
				<div class="section-header flex-center">
					<h2>{{localize "CHARACTER.Skills"}}</h2>

					{{#unless isUnlocked}}
					<div class="float-right">
						<span class="stat-counter" data-tooltip="Available Points">{{skills.availablePoints}}</span>
						{{#if skills.canTransfer}}
						<a class="counter-transfer" data-tooltip="Restore Attribute Points" data-action="restoreAttrPoints">
							<i class="fas fa-arrow-up"></i>
						</a>
						{{/if}}
					</div>
					{{/unless}}
				</div>

				<h4 class="section-header flex-right">
					<label>Specialisations</label>
				</h4>

				<ol class="stats flexcol">
					{{#each skills.values as |skill|}}
					<li class="stat skill {{skill.id}} flexrow" data-skill="{{skill.id}}">
						<label>
							<a data-action="skillConfig">{{skill.label}}</a>
						</label>
						<div class="stat-controls flexcol">
							<a class="stat-control {{#unless skill.canIncrease}}inactive{{/unless}}" title="Skill Increase" data-action="skillIncrease">
								<i class="fas fa-caret-up"></i>
							</a>
							<a class="stat-control {{#unless skill.canDecrease}}inactive{{/unless}}" title="Skill Decrease" data-action="skillDecrease">
								<i class="fas fa-caret-down"></i>
							</a>
						</div>
						<span class="stat-counter">
							{{#if skill.base}}
							{{skill.base}}
							{{/if}}
						</span>
						<span class="skill-specialisations">
							<ol class="badge-list flexrow">
								{{#each skill.specialisations as |spec|}}
								<li class="badge specialisation">{{spec}}</li>
								{{/each}}
							</ol>
						</span>
					</li>
					{{/each}}
				</ol>
			</div>
		</section>

		{{!-- Right Column --}}
		<section class="column column-right flexcol">

			{{!-- Distinctions --}}
			<div class="distinctions-section">
				<div class="section-header flex-center">
					<h2>{{localize "CHARACTER.Distinctions"}}</h2>

					{{#unless maxDistinctions}}
					<a class="button float-right" data-action="addDistinction">
						<i class="far fa-circle-plus"></i>
					</a>
					{{/unless}}
				</div>

				<ol class="item-list">
					{{#each distinctions as |d|}}
					<li class="list-item distinction" data-item-id="{{d._id}}">
						<a class="{{#if d.modifier}}modifiers{{/if}}" data-action="editDistinction">{{d.name}} {{#if d.modifier}}&dagger;{{/if}}</a>
						<div>
							<a class="button" data-action="deleteDistinction">
								<i class="far fa-circle-minus"></i>
							</a>
						</div>
					</li>
					{{/each}}
				</ol>
			</div>

			{{!-- Experiences --}}
			<div class="experiences-section">
				<div class="section-header flex-center">
					<h2>{{localize "CHARACTER.Experiences"}}</h2>

					<div class="float-right">
						<a class="button" data-action="configExperience">
							<i class="fas fa-cog"></i>
						</a>
						<a class="button" data-action="addExperience">
							<i class="far fa-circle-plus"></i>
						</a>
					</div>
				</div>
			</div>

			{{!-- Equipment --}}
			<div class="equipment-section">
				<div class="section-header flex-center">
					<h2>{{localize "CHARACTER.Equipment"}}</h2>

					<a class="button float-right">
						<i class="far fa-circle-plus"></i>
					</a>
				</div>

				<ol class="item-list">
					{{#each equipment.gadgets as |gadget|}}
					<li class="list-item gadget" data-item-id="{{gadget._id}}" data-type="gadget">
						<a data-action="editEquipment">
							<i class="fas fa-wrench"></i>
							<span>{{gadget.name}}</span>
						</a>
						<div>
							<a class="button" data-action="deleteEquipment">
								<i class="far fa-circle-minus"></i>
							</a>
						</div>
					</li>
					{{/each}}

					{{#each equipment.weapons as |weapon|}}
					<li class="list-item weapon" data-item-id="{{weapon._id}}" data-type="weapon">
						<a data-action="editEquipment">
							<i class="fas fa-wrench"></i>
							<span>{{weapon.name}}</span>
						</a>
						<div>
							<a class="button" data-action="deleteEquipment">
								<i class="far fa-circle-minus"></i>
							</a>
						</div>
					</li>
					{{/each}}

					{{#each equipment.equipment as |equipment|}}
					<li class="list-item equipment" data-item-id="{{equipment._id}}" data-type="equipment">
						<a data-action="editEquipment">{{equipment.name}}</a>
						<div>
							<a class="button" data-action="deleteEquipment">
								<i class="far fa-circle-minus"></i>
							</a>
						</div>
					</li>
					{{/each}}
				</ol>
			</div>

			{{!-- Conditions --}}
			<div class="conditions-section">
				<div class="section-header flex-center">
					<h2>{{localize "CHARACTER.Conditions"}}</h2>

					<a class="button float-right" data-action="addCondition">
						<i class="far fa-circle-plus"></i>
					</a>
				</div>

				<ol class="item-list">
					{{#each conditions as |c|}}
					<li class="list-item condition" data-index="{{@index}}">
						<span>{{c}}</span>
						<div>
							<a class="button" data-action="editCondition">
								<i class="fas fa-pen-to-square"></i>
							</a>
							<a class="button" data-action="deleteCondition">
								<i class="far fa-circle-minus"></i>
							</a>
						</div>
					</li>
					{{/each}}
				</ol>
			</div>
		</section>

	</div>
</form>