<form class="{{cssClass}} flexcol" autocomplete="off">
	<header class="sheet-header">
		<img class="profile" src="{{data.img}}" title="{{data.name}}" data-edit="img" />

		<h1 class="title">
			<input name="name" type="text" value="{{item.name}}" placeholder="Distinction Name" />
		</h1>
	</header>

	<section class="tab sheet-body flexcol">
		{{#unless isConfig}}
		{{editor description target="system.description" button=true engine="prosemirror"}}
		{{else}}
		{{editor description target="description" button=true engine="prosemirror"}}
		{{/unless}}
	</section>
</form>