<form class="{{cssClass}} flexcol" autocomplete="off">
	<header class="sheet-header">
		<h1 class="title">
			<input name="name" type="text" value="{{item.name}}" placeholder="Gadget Name" />
		</h1>
	</header>

	<section class="sheet-body flexcol">
		<div class="editor-section flexcol">
			{{editor description target="system.description" button=true engine="prosemirror"}}
		</div>

		<div class="flexcol">
			<div class="section-header flex-center">
				<h2>{{localize "CHARACTER.Distinctions"}}</h2>

				<a class="button float-right" data-action="addDistinction">
					<i class="far fa-circle-plus"></i>
				</a>
			</div>

			<div class="score-header">
				<div class="score">
					<label>Story Points (Max {{storyPoints.max}})</label>
					<a class="stat-control {{#unless storyPoints.canDecrease}}inactive{{/unless}}" data-action="storyPointsDecrease">
						<i class="fas fa-caret-left"></i>
					</a>
					<span class="stat-counter {{#if storyPoints.overLimit}}over-limit{{/if}}" data-tooltip="Reset to {{storyPoints.base}} next session">
						{{storyPoints.current}}
					</span>
					<a class="stat-control {{#unless storyPoints.canIncrease}}inactive{{/unless}}" data-action="storyPointsIncrease">
						<i class="fas fa-caret-right"></i>
					</a>
				</div>
			</div>

			<ol class="item-list">
				{{#each distinctions as |d|}}
				<li class="list-item distinction" data-index="{{@index}}">
					<a data-action="editDistinction" data-tooltip="{{d.description}}">{{d.name}}</a>
					<div>
						<a class="button" data-action="deleteDistinction">
							<i class="far fa-circle-minus"></i>
						</a>
					</div>
				</li>
				{{/each}}
			</ol>
		</div>
	</section>
</form>